body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    margin-top: 200px;
}

h1 {
    font-size: 48px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0074D9;
    cursor: pointer;
}

button:hover {
    background-color: #0063AB;
    transform: scale(1.05);
}
