<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Начална страница</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="background-container">
    <div class="container">
        <h1>Добре дошли в нашата болница</h1>
        <div class="button-container">
            <form action="/home/login">
                <button>Влез</button>
            </form>

            <form action="/home/register">
                <button><a href="H:\html\Hospital\Register/register.html">Регистрирай се</a></button>
            </form>
        </div>
    </div>
</div>
<script src="app.js"></script>
</body>
</html>
