<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="..\loginDoctorPage.css">
</head>
<body>
<div class="login-container">
    <h1>Влез</h1>
    <form>
        <label for="username">Име</label>
        <input type="text" id="username" name="username" placeholder="Напишете вашето име">
        <label for="username">Презиме</label>
        <input type="text" id="username" name="username" placeholder="Напишете вашето презиме">
        <label for="username">Фамилия</label>
        <input type="text" id="username" name="username" placeholder="Напишете вашето Фамилия">
        <label for="password">Парола</label>
        <input type="password" id="password" name="password" placeholder="Напишете вашата парола">
        <input type="submit" value="Влез">
    </form>
</div>
</body>
</html>
