<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="..\login.css">
</head>
<body>
<div class="container">
    <h1>Влез като</h1>
    <div class="button-container">
        <form action="/home/login/LoginDoctorPage">
            <button>Лекар</button>
        </form>
        <form action="/home/login/LoginPatientPage">
            <button>Пациент</button>
        </form>
    </div>
</div>
<script src="app.js"></script>
</body>
</html>
