<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="../LoginPatientPage.css">
</head>
<body>
<div class="login-container">
    <h1>Влез</h1>
    <form>
        <label for="username1">Име</label>
        <input type="text" id="username1" name="username" placeholder="Напишете вашето име">
        <label for="username2">Фамилия</label>
        <input type="text" id="username2" name="username" placeholder="Напишете вашето Фамилия">
        <label for="username3">Години</label>
        <input type="text" id="username3" name="username" placeholder="Напишете вашата възраст">
        <label for="password">Парола</label>
        <input type="password" id="password" name="password" placeholder="Напишете вашата парола">
        <input type="submit" value="Влез">
    </form>
</div>
</body>
</html>
