<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="..\login.css">
</head>
<body>
<div class="container">
    <h1>Влез като</h1>
    <div class="button-container">
        <button><a href="H:\html\Hospital\Login doctor page/LoginDoctorPage.html">Лекар</a></button>
        <button><a href="H:\html\Hospital\Login patient page/LoginPatientPage.html">Пациент</a></button>
    </div>
</div>
<script src="app.js"></script>
</body>
</html>
