<!DOCTYPE html>
<html>
<head>
  <title>Регистрация</title>
  <link rel="stylesheet" type="text/css" href="RegisterDoctorPage.css">
</head>
<body>
<div class="login-container">
  <h1>Регистрирай се</h1>
  <form>
    <label for="username">Име</label>
    <input type="text" id="username" name="username" placeholder="Напишете вашето име">
    <label for="username">Презиме</label>
    <input type="text" id="username" name="username" placeholder="Напишете вашето презиме">
    <label for="username">Фамилия</label>
    <input type="text" id="username" name="username" placeholder="Напишете вашето Фамилия">
    <label for="password">Имейл</label>
    <input type="password" id="password" name="password" placeholder="Напишете вашият имейл">
    <label for="password">Парола</label>
    <input type="password" id="password" name="password" placeholder="Напишете вашата парола">
    <label for="password">Повтори парола</label>
    <input type="password" id="password" name="password" placeholder="Повторете вашата парола">
    <label for="password">Код</label>
    <input type="password" id="password" name="password" placeholder="Напишете код за достъп">
    <input type="submit" value="Влез">
  </form>
</div>
</body>
</html>
